@tailwind base;
@tailwind components;
@tailwind utilities;

.icon { 
    @apply w-8; 
    @apply h-8;
    @apply text-teal-400;
    @apply transition;
    @apply duration-500;
    @apply ease-out;
    @apply fill-current; 
}
.icon:hover { @apply text-black; }

.link { 
    @apply font-bold; 
    @apply text-teal-400;
    @apply  transition;
    @apply duration-500;
    @apply ease-out; }
.link:hover { 
        @apply border-b-2; 
        @apply border-teal-400; 
    }

@media (min-width: 640px) { .container-inner { max-width: 640px; } }
@media (min-width: 768px) { .container-inner { max-width: 768px; } }
@media (min-width: 1024px) { .container-inner { max-width: 1024px; } }