--- 
layout: layouts/base-layout.njk

title: Abhishek Sisodiya
---
<div class="flex flex-col items-center justify-between min-h-screen">
    <div class="flex flex-col items-center mt-12 lg:flex-row container-inner">
        <div class="p-4 md:w-1/2 lg:w-2/5">
            <img src="../assets/icons/me.jpg" alt="Abhishek's picture" class="rounded-tl-xxl rounded-br-xxl">
        </div>

        <div class="p-4 lg:w-3/5">
            <h1 class="mb-3 text-4xl text-indigo-800 salt md:text-5xl font-extrabold">hello, i'm Abhishek!</h1>
            <p class="mb-5 text-justify">I am currently doing my graduation from Gautam Buddha University, India.</p>
            <p class="mb-5 text-justify">I like coding in python and experimenting with new technologies. I currently work as a python developer at <a href="https://www.estylo.in" target="_blank" rel="noopener" class="link">ESTYLO</a>, a fashion-tech company based in India.</p>
            <p class="text-justify">Listening to music and editing photos are the things that I like to do in my spare time.</p>
        </div>
    </div>

    <div class="flex items-center content-end flex-col my-5">
        <div class="flex mb-2 space-x-3">
            <a href="https://www.facebook.com/asisodiya2421/" aria-label="Facebook" target="_blank" rel="noopener"><img class="icon" src="./assets/icons/facebook.svg"/></a>
            <a href="https://www.linkedin.com/in/abhishek-sisodiya/" aria-label="Linkedin" target="_blank" rel="noopener"><img src="./assets/icons/linkedin.svg"/></a>
            <a href="https://github.com/sisodiya2421" aria-label="Github" target="_blank" rel="noopener"><img src="./assets/icons/github.svg"/></a>
            <a href="mailto:sisodiya2421@gmail.com" aria-label="Mail" target="_blank" rel="noopener"><img src="./assets/icons/mail.svg"/></a>
        </div>
        <div class="text-xs">Made with <a href="https://11ty.dev/" target="_blank" rel="noopener" class="link">11ty</a> and ♥ by Abhishek Sisodiya</div></div>
</div>