--- 
layout: layouts/base-layout.njk

title: Abhishek Sisodiya
---
<div>
    <div>
        <img src="../assets/icons/me.jpg" alt="Abhishek's picture">
    </div>

    <div class="p-4 lg:w-3/5">
        <h1 class="mb-3 text-4xl text-teal-400 salt md:text-6xl font-extrabold">Hello, I'm Abhishek</h1>
        <p class="mb-5">I am currently doing my graduation from Gautam Buddha University, India.</p>
        <p class="mb-5">I like coding in python and experimenting with new technologies. I currently work as a python developer in <a href="https://www.estylo.in" target="_blank" rel="noopener" class="link">ESTYLO</a>, a fashion-tech company based in India.</p>
        <p>Listening to music and editing photos are the things that I like to do in my spare time.</p>
    </div>

    <div class="flex items-center content-end flex-col my-5">
        <div class="text-xs">Made with <a href="https://11ty.dev/" target="_blank" rel="noopener" class="link">11ty</a> and ♥ by Abhishek Sisodiya</div>
    </div>
</div>